@model Planner.Models.TripViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>TripViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeakName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeakName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupSize)
        </dd>
    </dl>
    <div class="row">
        

        <div class = "col-sm-6">
            <h4>Hikers</h4>
            
         @if (@Model.Hikers.Count() == 0)
        {
            <div class="alert alert-primary" role="alert">
                This trip is looking for hikers! <a asp-action="Edit" asp-route-id="@Model.Id"> Click here</a> to invite someone.
            </div>
        }
        else
        {
          <ul class="list-group">
                @foreach(var hiker in @Model.Hikers)
                {
                    <li class="list-group-item">@hiker.FirstName @hiker.LastName</li>
                }
          </ul>
          @Html.RouteLink("Invite", "https://test.com")
        }
        </div>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
