@model Planner.ViewModels.TripViewModel

@using Microsoft.AspNetCore.Http;
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Create a Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" min="1" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeakId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.PeakId,
                    new SelectList(ViewBag.PeakList, "Value", "Text", 0), "-Select Peak-", new { @class = "form-control", @id = "PeakId" }
                )
                <span asp-validation-for="PeakId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.OwnerId,
                    new SelectList(ViewBag.UserList, "Value", "Text", 0), "-Select Leader-", new { @class = "form-control", @id = "OwnerId" }
                )
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupSize" class="control-label"></label>
                <input asp-for="GroupSize" min="1" class="form-control" />
                <span asp-validation-for="GroupSize" class="text-danger"></span>
            </div>
            <br/>

            <h2>Trip details</h2>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location</label>
                <input asp-for="Location" class="form-control"/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDistance" class="control-label">Distance (mi)</label>
                <input asp-for="TotalDistance" class="form-control"/>
                <span asp-validation-for="TotalDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElevationGain" class="control-label">Elevation Gain (feet)</label>
                <input asp-for="ElevationGain" class="form-control"/>
                <span asp-validation-for="ElevationGain" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBumpyRoad" /> @Html.DisplayNameFor(model => model.IsBumpyRoad)
                </label>
            </div>
            <br/>

            <h2>Road condition</h2>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedHighClearanceVehicle" /> @Html.DisplayNameFor(model => model.NeedHighClearanceVehicle)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasSnow" value="" /> @Html.DisplayNameFor(model => model.HasSnow)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Permit" class="control-label"></label>
                <select asp-for="Permit" id="Permit">
                    <option value="DiscoverPass">Discover Pass</option>
                    <option value="America Beautiful">America Beautiful</option>
                    <option value="NorthwestForestPass">Northwest Forest Pass</option>
                    <option value="NA">Not Needed</option>
                </select>
                <span asp-validation-for="Permit" class="text-danger"></span>
            </div>
            <br />
        
            <h2>Terrain</h2>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RiverCrossing" /> @Html.DisplayNameFor(model => model.RiverCrossing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Glacier" value="" /> @Html.DisplayNameFor(model => model.Glacier)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RockClimb" value="" /> @Html.DisplayNameFor(model => model.RockClimb)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Overnight" value="" /> @Html.DisplayNameFor(model => model.Overnight)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PotentialAvalanche" value="" /> @Html.DisplayNameFor(model => model.PotentialAvalanche)
                </label>
            </div>
            <br />

           <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
           </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>