@model Planner.ViewModels.TripViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => @Model.Id)
            @Html.HiddenFor(m => @Model.OwnerId)
            @Html.HiddenFor(m => @Model.OwnerName)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeakId" class="control-label">Peak</label>
                @Html.DropDownListFor(
                    model => model.PeakId,
                    new SelectList(ViewBag.PeakList, "Value", "Text", 0), "-Select Peak-", new { @class = "form-control", @id = "PeakId" }
                )
                <span asp-validation-for="PeakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupSize" class="control-label"></label>
                <input asp-for="GroupSize" class="form-control" />
                <span asp-validation-for="GroupSize" class="text-danger"></span>
            </div>
            <br/>
            <fieldset>
                <legend>Trip Details</legend>

                <div class="form-group">
                    <label asp-for="Location" class="control-label">Location</label>
                    <input asp-for="Location" class="form-control"/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalDistance" class="control-label">Distance (mi)</label>
                    <input asp-for="TotalDistance" class="form-control"/>
                    <span asp-validation-for="TotalDistance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ElevationGain" class="control-label">Elevation Gain (feet)</label>
                    <input asp-for="ElevationGain" class="form-control"/>
                    <span asp-validation-for="ElevationGain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label">Bumpy Road?</label>
                    <input asp-for="IsBumpyRoad" class="form-control" />
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Car Pool</legend>
                <div class="form-group">
                    <label asp-for="NeedHighClearanceVehicle" class="control-label">High Clearance Vehicle?</label>
                    <input asp-for="NeedHighClearanceVehicle" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="HasSnow" class="control-label">Snow?</label>
                    <input asp-for="HasSnow" class="form-control" />
                    <span asp-validation-for="HasSnow" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Permit" class="control-label"></label>
                    <select asp-for="Permit" id="Permit">
                        <option value="DiscoverPass">Discover Pass</option>
                        <option value="America Beautiful">America Beautiful</option>
                        <option value="NorthwestForestPass">Northwest Forest Pass</option>
                        <option value="NA">Not Needed</option>
                    </select>
                    <span asp-validation-for="Permit" class="text-danger"></span>
                </div>
            </fieldset>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <fieldset>
            <legend>Gear List</legend>
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                <form asp-action="AddTripGroupGear">
                    <tr>
                        <td>
                            <select name="item" id="item">
                                <option value="Carabiner">Carabiner</option>                                       
                                <option value="Crampons">Crampons</option>      
                                <option value="Hard shell">HardShell</option>
                                <option value="Harness">Harness</option>                                       
                                <option value="Gas">Gas</option>
                                <option value="Ice Axe">Ice Axe</option>
                                <option value="Rope 60m">Rope 60m</option>
                                <option value="Rope 45m">Rope 45m</option>
                                <option value="Rope 30m">Rope 30m</option>
                                <option value="Snow picket">Snow Picket</option>
                                <option value="Stove">Stove</option>                                       
                                <option value="Tent">Tent</option>
                            </select>
                            <input type="hidden" name="tripId" id="tripId" value="@Model.Id" />
                        </td>
                        <td>
                            <input type="number" name="quantity" id="quantity" value="1" />
                        </td>
                        <td>
                            <input type="submit" value="Add" class="btn btn-primary login-button-width" />
                        </td>
                    </tr>
                </form>      
                @foreach (var item in Model.GroupGearList)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Number</td>
                        <td>
                            <form asp-action="RemoveTripGroupGear">
                                <input type="hidden" name="item" id="item" value="@item.Item" />
                                <input type="hidden" name="quantity" id="quantity" value="@item.Number" />
                                <input type="hidden" name="tripId" id="tripId" value="@Model.Id" />
                                <input type="submit" value="Remove" class="btn btn-danger login-button-width" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </fieldset>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


