@model Planner.ViewModels.TripViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => @Model.Id)
            @Html.HiddenFor(m => @Model.OwnerId)
            @Html.HiddenFor(m => @Model.OwnerName)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>

  
            <span style="border:medium">Trail Details
                <div class="form-group">
                    <label asp-for="Location" class="control-label">Location</label>
                    <input asp-for="Location" class="form-control"/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalDistance" class="control-label">Distance(mi)</label>
                    <input asp-for="TotalDistance" class="form-control"/>
                    <span asp-validation-for="TotalDistance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ElevationGain" class="control-label">Elevation Gain (feet)</label>
                    <input asp-for="ElevationGain" class="form-control"/>
                    <span asp-validation-for="ElevationGain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HasSnow" class="control-label">Snow?</label>
                    <input asp-for="HasSnow" class="form-control" />
                    <span asp-validation-for="HasSnow" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsBumpyRoad" class="control-label" />Bumpy Road</label>
                    <input asp-for="IsBumpyRoad" class="form-control" />
                    <span asp-validation-for="IsBumpyRoad" class="text-danger"></span>
                </div>
            </span>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeakId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.PeakId,
                    new SelectList(ViewBag.PeakList, "Value", "Text", 0), "-Select Peak-", new { @class = "form-control", @id = "PeakId" }
                )
                <span asp-validation-for="PeakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupSize" class="control-label"></label>
                <input asp-for="GroupSize" class="form-control" />
                <span asp-validation-for="GroupSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

