@model Planner.ViewModels.TripViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => @Model.Id)
            @Html.HiddenFor(m => @Model.OwnerId)
            @Html.HiddenFor(m => @Model.OwnerName)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>

                        <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="input-group-lg">
                Trail Details
                <div class="form-group">
                    <label asp-for="Location" class="control-label" />
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalDistance" class="control-label" />
                    <input asp-for="TotalDistance" class="form-control" />
                    <span asp-validation-for="TotalDistance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ElevationGain" class="control-label" />
                    <input asp-for="ElevationGain" class="form-control" />
                    <span asp-validation-for="ElevationGain" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HasSnow" class="control-label" />
                    <input asp-for="HasSnow" class="form-control" />
                    <span asp-validation-for="HasSnow" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsBumpyRoad" class="control-label" />
                    <input asp-for="IsBumpyRoad" class="form-control" />
                    <span asp-validation-for="IsBumpyRoad" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeakId" class="control-label"></label>
                <input asp-for="PeakId" class="form-control" />
                <span asp-validation-for="PeakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeakName" class="control-label"></label>
                <input asp-for="PeakName" class="form-control" />
                <span asp-validation-for="PeakName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupSize" class="control-label"></label>
                <input asp-for="GroupSize" class="form-control" />
                <span asp-validation-for="GroupSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

