@model Planner.ViewModels.HikerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HasCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Awd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Awd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SnowFriendly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SnowFriendly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HighClearance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HighClearance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spaces)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spaces)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FunScale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FunScale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
