@model Planner.ViewModels.HikerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3" text-truncate>
            First Name
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Last Name
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Full Name
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-3" text-truncate>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3" text-truncate>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Has a Car?
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.HasCar)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Carpool Preference
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.Preference)
        </dd>
        <dt class="col-sm-3" text-truncate>
            How many spaces available in your car
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.Spaces)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Drives an AWD?
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.Awd)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Car Model and Brand
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.CarModelBrand)
        </dd>
        <dt class="col-sm-3" text-truncate>
            SnowFriendly?
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.SnowFriendly)
        </dd>
        <dt class="col-sm-3" text-truncate>
            HighClearance?
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.HighClearance)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Emergency Contact Name
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Emergency Contact Number
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
        <dt class="col-sm-3" text-truncate>
            Fun Scale
        </dt>
        <dd class="col-sm-3" text-truncate>
            @Html.DisplayFor(model => model.FunScale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
