@model Planner.ViewModels.HikerViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => @Model.Id)
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasCar" /> @Html.DisplayNameFor(model => model.HasCar)
                </label>
            </div>
            <div class="dropdown">
                <label asp-for="Preference">Carpool preferences:</label>
                <select asp-for="Preference" class="dropdown" />
                <option value=0>Alone</option>
                <option value=1>Drive</option>
                <option value=2>Ride</option>
                <option value=3>Drive or Ride</option>
                </select>
            </div>
            <div class="dropdown">
                <label asp-for="Spaces">How many spaces available in your car:</label>
                <select asp-for="Spaces" class="dropdown" />
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8+">8+</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CarBrand" class="control-label"></label>
                <input asp-for="CarBrand" class="form-control" />
                <span asp-validation-for="CarBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Awd" /> @Html.DisplayNameFor(model => model.Awd)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SnowFriendly" /> @Html.DisplayNameFor(model => model.SnowFriendly)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HighClearance" /> @Html.DisplayNameFor(model => model.HighClearance)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactPhone" class="control-label"></label>
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunScale" class="control-label"></label>
                <input asp-for="FunScale" class="form-control" />
                <span asp-validation-for="FunScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" id="tripId" value="@Model.Id" />
                <input type="hidden" name="userName" id="userName" value="@Model.UserName" />
                <input type="hidden" name="password" id="password" value="@Model.Password" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Group gear</h2>
        <fieldset>
            <table class="table">
                <form asp-action="AddGroupGear">
                    <tr>
                        <th>Item</th>
                        <th>Brand</th>
                        <th>Model</th>
                    </tr>
                    <tr>
                        <td> 
                            <select name="item" id="item">
                                <option value="Carabiner">Carabiner</option>                                       
                                <option value="Crampons">Crampons</option>      
                                <option value="Hard shell">HardShell</option>
                                <option value="Harness">Harness</option>                                       
                                <option value="Gas">Gas</option>
                                <option value="Ice Axe">Ice Axe</option>
                                <option value="Rope 60m">Rope 60m</option>
                                <option value="Rope 45m">Rope 45m</option>
                                <option value="Rope 30m">Rope 30m</option>
                                <option value="Snow picket">Snow Picket</option>
                                <option value="Stove">Stove</option>                                       
                                <option value="Tent">Tent</option>
                            </select>
                            <input type="hidden" name="hikerId" id="hikerId" value="@Model.Id" />
                        </td>
                        <td>
                            <input type="text" name="brand" id="brand" value="" />
                        </td>
                         <td>
                            <input type="text" name="model" id="model" value="" />
                        </td>
                        <td>
                            <input type="submit" value="Add" class="btn btn-primary login-button-width" />
                        </td>
                    </tr>
                </form>      
                @foreach (var item in Model.HikerGroupGear)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Brand</td>
                        <td>@item.Model</td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Gear I can offer to others</h2>
        <fieldset>
            <table class="table">
                <form asp-action="AddExtraGear">
                    <tr>
                        <th>Item</th>
                        <th>Brand</th>
                        <th>Model</th>
                    </tr>
                    <tr>
                        <td> 
                            <select name="item" id="item">
                                <option value="Carabiner">Carabiner</option>                                       
                                <option value="Crampons">Crampons</option>      
                                <option value="Hard shell">HardShell</option>
                                <option value="Harness">Harness</option>                                       
                                <option value="Gas">Gas</option>
                                <option value="Ice Axe">Ice Axe</option>
                                <option value="Rope 60m">Rope 60m</option>
                                <option value="Rope 45m">Rope 45m</option>
                                <option value="Rope 30m">Rope 30m</option>
                                <option value="Snow picket">Snow Picket</option>
                                <option value="Stove">Stove</option>                                       
                                <option value="Tent">Tent</option>
                            </select>
                            <input type="hidden" name="hikerId" id="hikerId" value="@Model.Id" />
                        </td>
                        <td>
                            <input type="text" name="brand" id="brand" value="" />
                        </td>
                         <td>
                            <input type="text" name="model" id="model" value="" />
                        </td>
                        <td>
                            <input type="submit" value="Add" class="btn btn-primary login-button-width" />
                        </td>
                    </tr>
                </form>      
                @foreach (var item in Model.HikerExtraGear)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Brand</td>
                        <td>@item.Model</td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
</div>
